<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto">
          <h4>{{ site.title | escape }}</h4>
          <div class="shape left white"></div>
          <ul class="social-media-list list-unstyled">
            {% for path in page_paths %}
                {% assign page = site.pages | where: "path", path | first %}
                {% if page.title %}
                    <li>
                        <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
              </li>
            {% endif %}

            {% if site.twitter_username %}
              <li>
                {% include icon-twitter.html username=site.twitter_username %}
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="col-md-4 mr-auto">
          <h4>À propos</h4>
          <div class="shape left white"></div>
          <p class="text-justify">{{ site.description | escape }}</p>
        </div>
      </div>
    </div>
</footer>
<div class="footer-bottom">
        <small>
          {% if site.author %}
            {{ site.author | escape }}
          {% else %}
            {{ site.title | escape }}
          {% endif %}
        </small>
        {% if site.email %}
          <small> | <a href="mailto:{{ site.email }}">{{ site.email }}</a></small>
        {% endif %}
</div>
