<div class="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-devfusion">
            {% assign default_paths = site.pages | map: "path" %}
            {% assign page_paths = site.header_pages | default: default_paths %}
            {% if page_paths %}
                <a class="navbar-brand" href="{{ "/" | relative_url }}">
                    <img class="img-fluid" src="/assets/img/logo.png" alt="Logo devFusion" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        {% for path in page_paths %}
                            {% assign page = site.pages | where: "path", path | first %}
                            {% if page.title %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </nav>
    </div>
</div>