<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% if page_paths %}
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        {% for path in page_paths %}
        {% assign page = site.pages | where: "path", path | first %}
        {% if page.title %}
        <li class="nav-item">
            <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</nav>