---
layout: default
---
<main role="main">
  <div class="banner pages">
    <div class="container">
      <div class="bg-black"></div>
        <div class="middle">
           <h1 class="text-white">{{ page.title | escape }}</h1>
            <div class="shape white center"></div>
        </div>
    </div>
  </div>
  <section class="section-padding">
    <div class="container">
        <article class="post">        
            <div class="text-justify">
              {{ content }}
            </div>
        </article>
    </div>
  </section>
</main>
